@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.active {
    color: #FFC536;
    font-weight: bold;
}

.font-work-sans {
    font-family: "Work Sans", sans-serif;
}

.bg-header {
    background-image: url('./assets/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg-error {
    background-image: url('./assets/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-add-review {
    background-image: url('./assets/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg-footer {
    background-image: url('./assets/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@tailwind base;
@tailwind components;
@tailwind utilities;